
input, textarea {
    font-size: 14px;
    
}

textarea {
    resize: vertical;
}

label {
    font-weight: 400;
    font-family:  'Poppins', Arial, sans-serif;
}

.style{
    height: 32px ;
}

.text{
   font-family:  'Poppins', Arial, sans-serif;
    font-size: 15px;
}

.size{
    margin-left: 13%;
    font-size: 15px;
    
}

button{
    font-size: 15px;
}

