.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 150px; /* You can adjust this value as needed */

}

/* Link styles */
.footer a {
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer a:hover {
  color: black;
  text-decoration: underline;
}

/* Social icon styles */
.footer i {
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer i:hover {
  color: #007bff;
  transform: scale(1.2);
}
.margin{
  margin-top: 10px ;
  margin-bottom: 10px;
}